<p-table *ngIf="masters?.length > 0" [columns]="cols" [value]="masters" selectionMode="single" [(selection)]="selectedMaster" (onRowSelect)="onRowSelect($event)">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">{{col.header}}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData>
    <tr [pSelectableRow]="rowData">
      <td>{{rowData.name}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
    <div style="text-align:left">
      <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add"></button>
    </div>
  </ng-template>
</p-table>

<p-dialog header="Master Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '300px'}">
  <div class="ui-g ui-fluid" *ngIf="master">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="name">Имя</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="name" [(ngModel)]="master.name" />
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button *ngIf="!newMaster" type="button" pButton icon="fa fa-close" (click)="delete()" label="Delete"></button>
      <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
    </div>
  </p-footer>
</p-dialog>
