
<p-table *ngIf="works?.length > 0" [columns]="cols" [value]="works" selectionMode="single" [(selection)]="selectedWork" (onRowSelect)="onRowSelect($event)">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">{{col.header}}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData>
    <tr [pSelectableRow]="rowData">
      <td>{{rowData.dateWork}}</td>
      <td>{{rowData.master.name}}</td>
      <td>{{rowData.car.mark}} + ' ' + {{rowData.car.number}}</td>
      <td>{{rowData.service.name}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
    <div style="text-align:left">
      <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add"></button>
    </div>
  </ng-template>
</p-table>

<p-dialog header="Master Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '300px'}">
  <div class="ui-g ui-fluid" *ngIf="work">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="dateWork">Дата работы</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="dateWork" [(ngModel)]="work.dateWork" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="master">ФИО мастера</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="master" [(ngModel)]="work.master" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="car">Марка машины и ее госномер</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="car" [(ngModel)]="work.car" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="service">Наименование услуги</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="service" [(ngModel)]="work.service" />
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button *ngIf="!newWork" type="button" pButton icon="fa fa-close" (click)="delete()" label="Delete"></button>
      <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
    </div>
  </p-footer>
</p-dialog>
